.logo-main{
    width:80px;
    filter:invert(1);
}

.slider-img{
    height: 400px;
    filter:invert(1);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .slider-img{
        height: 400px;
        filter:invert(1);
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .slider-img{
        height: 300px;
        filter:invert(1);
        border-radius: 25px;
    }
  }
  
  
  @media screen and (max-width: 480px) {
    .slider-img{
        height: 200px;
        filter:invert(1);
        border-radius: 25px;
    }
  }


.flex{
    display: flex;
    flex-direction: column;
    border: 1px solid #00000033;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
 }

.product-img{
    width: 100%;    
    border-radius: 10px;
}

.div-2{
    text-align: center;
}

.product-name{
    font-weight: bold;
    font-size: 20px;
}

.product-price{
    font-weight: bold;
    font-size: 20px;
}

.main-head{
    border-bottom: 5px solid grey;
    font-size: 20px;
}